/* ===========================
   SECCIÓN - HERO
   =========================== */

.hero {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-lg) var(--spacing-md);
  color: var(--surface-color);
  overflow: hidden;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.40);
  z-index: -1;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--container-width);
  gap: var(--spacing-lg);
}

.hero__content {
  text-align: center;
  max-width: 600px;
}

.hero__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--surface-color);
  margin-bottom: var(--spacing-md);
}

.hero__subtitle {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--accent-color);
  margin-bottom: var(--spacing-lg);
}


/* ===========================
   SECCIÓN - INTRODUCCIÓN
   =========================== */

.intro {
  text-align: center;
  padding: var(--spacing-lg) var(--spacing-md);
  margin: 2rem;
}

/* ===========================
   SECCIÓN - BANNER
   =========================== */


.banner {
  padding: var(--spacing-xl) 0;
  background-color: var(--background-color);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  margin: 2rem;
}

.banner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
  text-align: center;
}

.banner__image img {
  max-width: 260px;
  width: 100%;
  height: auto;
}

.benefits-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  font-size: var(--font-size-base);
}

.benefits-list li {
  background-color: var(--surface-color);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  transition: var(--transition);
}

.benefits-list li:hover {
  background-color: var(--accent-color);
}


/* RESPONSIVE */
@media (min-width: 768px) {
  /* ===========================
   SECCIÓN - HERO
   =========================== */
  .hero {
    padding: 4rem;
  }

  .hero__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xl);
    text-align: left;
  }

  .hero__content {
    flex: 1;
    max-width: 80%;
    text-align: left;
  }

  .hero__title {
    font-size: 2.8rem;
  }

  .hero__subtitle {
    font-size: 1.4rem;
  }

  .hero__subtitle span {
    font-size: 1.8rem;
    font-weight: bold;
  }

  /* ===========================
   SECCIÓN - BANNER
   =========================== */
  .banner__wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
    text-align: left;
  }

  .banner__image img {
    max-width: 380px;
  }

  .banner__text {
    max-width: 480px;
  }

  .banner__benefits {
    font-size: 1.1rem;
  }
}