.background-section {
  display: flex;
  flex-direction: column;
  background: 
    url("../img/bg.webp") center/cover no-repeat;
  margin: var(--spacing-sm);
  border-radius: 2rem;
  overflow: visible;
}

.section-box {
  margin: var(--spacing-sm);
  padding: var(--spacing-lg) var(--spacing-md);
}


.title {
  font-size: calc(var(--font-size-md) * 1.5);
  font-weight: bold;
  margin: 0 auto;
}

.subtitle {
  font-size: calc(var(--font-size-md) * 1.5);
  color: var(--text-color);
}

.card-border-opa {
  background-color: rgba(228, 58, 78, 0.6);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
}

.card-border {
  background-color: var(--primary-color);
  color: var(--accent-color);
  box-shadow: var(--box-shadow);
}

.text-center {
  text-align: center;
}


/* RESPONSIVE */
@media (min-width: 768px) {
  .section-box {
    margin-bottom: var(--spacing-lg);
    padding: var(--spacing-lg) var(--spacing-md);
  }
  
  .title {
    font-size: calc(var(--font-size-lg) * 1.2);
  }

  .subtitle {
    font-size: var(--font-size-lg);
  }
}