.background-section {
  background: 
    url("/assets/img/bg.webp") center/cover no-repeat;
  margin: 2rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

.title h2 {
  font-size: 2.2rem;
  color: var(--secondary-color);
  margin-bottom: var(--spacing-md);
}