.background-section {
  background: 
    url("/assets/img/bg.webp") center/cover no-repeat;
  margin: var(--spacing-lg);
  border-radius: 2rem;
  overflow: visible;
}

.section-box {
  margin: var(--spacing-lg);
  padding: var(--spacing-lg) var(--spacing-md);
}

.block-title {
  margin-bottom: var(--spacing-md);
  text-align: center;
}

.title {
  font-size: var(--font-size-md);
  font-weight: bold;
  margin-bottom: var(--spacing-md);
}

.subtitle {
  font-size: var(--font-size-md);
}

/* RESPONSIVE */
@media (min-width: 768px) {
  .block-title {
    max-width: 600px;
    width: 100%;
  }
  
  .title {
    font-size: calc(var(--font-size-lg) * 1.2);
  }

  .subtitle {
    font-size: calc(var(--font-size-md) * 1.2);
  }
}